//Color-Variables
$base-color: #777;
$headline-prime-color: #58e1c1;
$headline-second-color: #777;
$link-color: #51ddfc;
$border-color: #58e1c1;

//Media-Querie Breakpoint Color-Variables
$med-size: 768px;

//Font Variables
$font-size: 1.5em;
$font-w-headline-second: 300;
$font-w-link: 700;

//Button Themes
$buttons: (
  'default': #51ddfc,
  'error': #e4757a,
  'info': #927bc1,
  'success': #63cc82,
  'warning': #fd7856
);

//Used to interpolate through class names, map strings to get the
//buttons to change colors and hover states
$button-list: ('default', 'error', 'info', 'success', 'warning');

//This list contains bg-values of Grid system
$list-themes: (
  '1': #927bc1,
  '2': #fd7856,
  '3': #deb2ee,
  '4': #7ee6fd,
  '5': #88d9a0,
  '6': #4da2bb,
  '7': #ec9fa3,
  '8': #fd9f85,
  '9': #e4757a,
 '10': #63cc82,
 '11': #51ddfc,
 '12': #80e8d1
);

//Media Querie Colum sizes by flex-basis
$list-flex: (
'1': 8.33%,
'2': 16.67%,
'3': 25.00%,
'4': 33.33%,
'5': 41.67%,
'6': 50.00%,
'7': 58.33%,
'8': 66.67%,
'9': 75.00%,
'10': 83.33%,
'11': 91.67%,
'12': 100%
);
